.Footer {
    /* Set position to bottom and define dimensions*/
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    /* Allign internal items */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Style */
    background-color: #051520;
    color: #fff;
    font-family: "Poetsen One";
}

.clickable {
    color: #fff;
    text-decoration: none;
}
.clickable:hover {
    cursor: pointer;
    color: #11b5fc;
}

#with-love {
    color: #FCA311;
}

#logo {
    font-family: "Pacifico", cursive;
}

/* on hover css? */