.modal {
    z-index: 1001; /* Make sure modal is above blurred overlay*/
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    padding: 20px;
    line-height: 2rem;
    /* Position in middle of screen */
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}